.message {
    padding: 3.5rem;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 12px;
}

@media screen and (max-width: 400px) {
    .message {
        padding: 2rem;
    }
}

@media screen and (max-width: 300px) {
    .message {
        padding: .9rem;
    }
}