:root {
    --small-margin: 6px;
}

.progress-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid light-dark(#149, #28b);
    padding: var(--small-margin);
}

.porcentage {
    margin-left: var(--small-margin);
    font-size: .95rem;
}

.rest {
    font-size: .8rem;
    margin-right: var(--small-margin);
}