:root {
    color-scheme: light dark;
    font-family: system-ui;
}

section, .temperature-result {
    text-align: center;
}

input {
    field-sizing: content;
    min-width: 3.5rem;
    font-size: .73rem;
}

.temperature-result {
    color: light-dark(#272, #7d5);
    margin-top: 2rem;
}