@import './node_modules/js-datepicker/dist/datepicker.min.css';

:root {
    color-scheme: light dark;
    font-family: system-ui;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
}

#age, main, div, h1 {
    margin: auto;
}

.input-wrapper {
    position: relative;;
}

#age {
    padding: 6px 14px;
    min-width: 250px;
}

.input-svg {
    position: absolute;
    right: 6px;
    bottom: 50%;
    transform: translate(0, 50%);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.qs-datepicker {
    background-color: light-dark(#eee,#111);
    color: light-dark(#111,#eee);
}

.qs-controls {
    background-color: light-dark(#555, #d3d3d3);
    color: light-dark(#e3e3e3,#222)
}

.qs-arrow.qs-left:after {
    border-right-color: light-dark(#ccc,#555);
}

.qs-arrow.qs-right:after {
    border-left-color: light-dark(#ccc,#555);
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
    background-color: light-dark(#35e, #48e);
    color: #eee;
}

.qs-active {
    background-color: light-dark(#727, #a5e);
    color: #eee;
}

button {
    display: block;
    padding: 7px 1rem;
    width: 250px;
    margin: .7rem auto;
}

.message {
    margin: 0;
    text-align: center;
}