:root {
    color-scheme: light dark;
    font-family: system-ui;
}

body {
    display: flex;
    height: 90dvh;
}

section {
    margin: auto;
}

section, .temperature-result {
    text-align: center;
}

input {
    field-sizing: content;
    min-width: 3.5rem;
}

.temperature-result {
    color: light-dark(#272, #7d5);
    margin-top: 1.5rem;
}

.input-temperature, #from-unit, #to-unit, .btn-convert {
    margin-left: 14px;
    padding: 4px;
}

.input-temperature {
    margin-left: 0;
}